@model IEnumerable<Repository.cliente>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Locations</h3>
                @Html.ActionLink("Nuevo","Create","Client",null, new { @class="btn btn-primary pull-right"})
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>NIF</th>
                            <th>Razon Social</th>
                            <th>Domicilio</th>
                            <th>CP</th>
                            <th>Mail</th>
                            <th>Telefono</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NIF</td>
                                <td>@item.Razon_Social</td>
                                <td>@item.Domicilio</td>
                                <td>@item.CP</td>
                                <td>@item.Mail</td>
                                <td>@item.Telefono</td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", "Location", new { id = item.idCli }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-pencil", title = "Edit" })
                                    <span> </span>
                                    @Html.ActionLink(" ", "DeleteConfirmed", "Location", new { id = item.idCli }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-trash", title = "Delete" })
                                </td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>NIF</th>
                            <th>Razon Social</th>
                            <th>Domicilio</th>
                            <th>CP</th>
                            <th>Mail</th>
                            <th>Telefono</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>

                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- DATA TABES SCRIPT -->

<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->

<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>
