<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AMS</title>

    <link href="~/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/lobibox.js"></script>
</head>
<body style="margin: 20px 10px 10px 10px; padding: 0px;">
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
