<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="~/AdminLTE/dist/img/ImageUser.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
        <p>Administrator</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>

<!-- search form -->
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." />
        <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>

<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cart-plus"></i> <span>Pedidos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="@Url.Action("Index","Hangfire")">
                    <i class="fa fa-user"></i><span>Cliente</span>
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/elmah.axd")">
                    <i class="fa fa-truck"></i><span>Proveedor</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Gestión</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="@Url.Action("Index","Client")">
                    <i class="fa fa-user"></i><span>Clientes</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Proveedor")">
                    <i class="fa fa-truck"></i><span>Proveedores</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Tasks","Contacts")">
                    <i class="fa fa-phone"></i><span>Contactos</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="@Url.Action("Index","Location")">
            <i class="fa fa-circle-o"></i> <span>Locations</span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("getMyCalendar","Calendar")/">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <small class="label pull-right bg-red">3</small>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index","Client")/">
            <i class="fa fa-users"></i> <span>Clients</span>
            <small class="label pull-right bg-red">3</small>
        </a>
    </li>
    <li>
        <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <small class="label pull-right bg-yellow">12</small>
        </a>
    </li>

</ul>