@model Repository.Pedido_c


<div  id="InfoPed" class="col-xs-12">
    <p>
        <strong>@Html.DisplayNameFor(x => x.Clientes.Razon_Social):</strong>
        @Html.DisplayFor(x => x.Clientes.Razon_Social)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Destino):</strong>
        @Html.DisplayFor(x => x.Destino)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.EstadosPedido.Nombre):</strong>
        @Html.DisplayFor(x => x.EstadosPedido.Nombre)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.FormaPago.Nombre):</strong>
        @Html.DisplayFor(x => x.FormaPago.Nombre)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Fecha_A):</strong>
        @Html.DisplayFor(x => x.Fecha_A)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Total):</strong>
        @Html.DisplayFor(x => x.Total)
    </p>

    <p>
        <strong>@Html.DisplayNameFor(x => x.Observaciones):</strong>
        @Html.DisplayFor(x => x.Observaciones)
    </p>

</div>