@model Domain.Models.PedidoC.mOderLineCreate

 @if (TempData["MessageWarning"] != null)
 {
    <script>
        $(".spValidation").show();
    </script>
 }

@if (TempData["MessageSucces"] != null)
{
    <script>
        $(".MyInput").val('');
        $(".lbl").text('');
    </script>
}


<div class="box box-primary flat">
    <div class="box-header with-border">
        <h3 class="box-title">Añadir detalle</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="form-horizontal">

            @using (Ajax.BeginForm("OrderLineCreate", "PedidoC",null,new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Odrlist" }, new { id="_ajaxForm"}))
            {
                @Html.HiddenFor(x => x.Num_ped)

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.IdArticulo, Model.ArticleList, "-- Selecciona --", new { @class = "form-control CformControl MyInput", id = "ArticleDrop" })
                            <small>@Html.ValidationMessageFor(model => model.IdArticulo, "", new { @class = "text-danger" })</small>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control CformControl MyInput" ,id="inputUd"} })
                            <small><span class="text-danger spValidation">No hay unidades suficientes</span></small>
                            <small>@Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default flat" })
                            <input type="button" onclick="ajaxSubmit()" value="Guardar" class="btn btn-primary flat" />
                        </div>
                    </div>
                </div>
            }

           
            <div class="col-md-6">
                <div class="well MyWell flat">
                    <h5 class="TitleHeader">Articulo</h5>
                    <div class="MyContent" id="ArtDetail">
                       @Html.Action("_Details","Article",new { id = 0})
                    </div>
                </div>
            </div>

        </div>
     

    </div><!-- /.box-body -->
</div><!-- /.box -->


<script type="text/javascript">

    $("#ArticleDrop").change(function () {
        var idArticle = $(this).val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("_Details", "Article")',
            data: { id: idArticle },
            dataType: 'html',
            success: function (data) {
               $("#ArtDetail").html(data)
            },
            error: function () {
            }
        });
    });


    function ajaxSubmit() {
        var stock = Number($("#lblStock").text());
        var unidades = Number($("#inputUd").val());

        if (unidades <= stock) {
            $("#_ajaxForm").submit();
        } else {
            $(".spValidation").show();
            setTimeout(function () { $(".spValidation").hide(); }, 1000);
        }


    }

    //function showMessage(data) {

    //    if (!data.success) {
           
    //    } else {
           
    //         console.log("Warning");

    //    }

    //     console.log("Ejecutando showMessage");
    //};

    //function clearInput() {
    //    $(".MyInput").val('');
    //    //$(".lbl").text('');
    //    $(".lbl").remove();
    //}
    


</script>