@model Repository.Articulos

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">¿Seguro que desea eliminar?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger alert-dismissable", style = "margin:20px;" })
                </div>

                <div class="col-xs-12">
                    @using (Html.BeginForm("Delete", "Product", new { id = Model.IdArticulo }, FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.IdArticulo)

                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Codigo):</strong>
                            @Html.DisplayFor(x => x.Codigo)
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Nombre):</strong>
                            @Html.DisplayFor(x => x.Nombre)
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Peso):</strong>
                            @Html.DisplayFor(x => x.Peso) gr.
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Tipo):</strong>
                            @Html.DisplayFor(x => x.TipoProducto.Nombre)
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Estado):</strong>
                            @Html.DisplayFor(x => x.Estados.Nombre)
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Precio):</strong>
                            @Html.DisplayFor(x => x.Precio)€
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.IVA):</strong>
                            @Html.DisplayFor(x => x.Iva1.Porcentaje)%
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Origen):</strong>
                            @Html.DisplayFor(x => x.Origen)
                        </p>
                        <p>
                            <strong>@Html.DisplayNameFor(x => x.Descripcion):</strong>
                            @Html.DisplayFor(x => x.Descripcion)
                        </p>
                      

                        <div>
                            <br />
                            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
                            <input class="btn btn-danger" type="submit" value="Eliminar" />
                        </div>

                    }


                </div>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

