@model IEnumerable<Domain.Models.Contact.mContact>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default flat">
            <div class="box-header with-border">
                <h3 class="box-title">Contactos</h3>
                @Html.ActionLink("Nuevo", "Create", "Contact", null, new { @class = "btn btn-primary pull-right flat" })
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                            <th>@Html.DisplayNameFor(model => model.Origen)</th>
                            <th>@Html.DisplayNameFor(model => model.Producto)</th>
                            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                            <th>@Html.DisplayNameFor(model => model.Movil)</th>
                            <th>@Html.DisplayNameFor(model => model.Mail)</th>
                            <th>@Html.DisplayNameFor(model => model.Nota)</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Nombre)</td>
                                <td>@Html.DisplayFor(model => item.Direccion)</td>
                                <td>@Html.DisplayFor(model => item.Origen)</td>
                                <td>@Html.DisplayFor(model => item.Producto)</td>
                                <td>@Html.DisplayFor(model => item.Telefono)</td>
                                <td>@Html.DisplayFor(model => item.Movil)</td>
                                <td>@Html.DisplayFor(model => item.Mail)</td>
                                <td>@Html.DisplayFor(model => item.Nota)</td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", "Contact", new { id = item.IdContacto }, new { @class = "btn btn-default btn-sm flat glyphicon glyphicon-pencil", title = "Editar" })
                                    <span> </span>
                                    @Html.ActionLink(" ", "DeleteConfirmed", "Contact", new { id = item.IdContacto }, new { @class = "btn btn-default btn-sm flat glyphicon glyphicon-trash", title = "Eliminar" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- DATA TABES SCRIPT -->

<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->

<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

