@model Domain.Models.AlmacenProducto.mAlmacenProducto


<div>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Nombre):</strong>
        @Html.DisplayFor(x => x.Article.Nombre)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Peso):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Article.Peso);<span> gr.</span>
            
        }

    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Precio):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Article.Precio); <span> €</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.sEstado):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Article.sEstado)
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.sIVA):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Article.sIVA) <span>%</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Stock):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Stock) <span> Ud.</span>
        }

    </p>
</div>
