@model Domain.Models.Articulo.mArticle


<div>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Nombre):</strong>
        @Html.DisplayFor(x => x.Nombre)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Peso):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Peso);<span> gr.</span>
            
        }

    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Precio):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.Precio); <span> €</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.sEstado):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.sEstado)
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.sIVA):</strong>
        @if (Model != null)
        {
            @Html.DisplayFor(x => x.sIVA) <span>%</span>
        }
       
    </p>
</div>
