@model Domain.Models.AlmacenProducto.mAlmacenProducto


<div>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Nombre):</strong>
        <span class="lbl">@Html.DisplayFor(x => x.Article.Nombre)</span>
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Peso):</strong>
        @if (Model != null)
        {
           <span class="lbl">@Html.DisplayFor(x => x.Article.Peso)</span><span class="lbl"> gr.</span>
            
        }

    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.Precio):</strong>
        @if (Model != null)
        {
            <span class="lbl">@Html.DisplayFor(x => x.Article.Precio)</span> <span class="lbl"> €</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.sEstado):</strong>
        @if (Model != null)
        {
            <span class="lbl">@Html.DisplayFor(x => x.Article.sEstado)</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Article.sIVA):</strong>
        @if (Model != null)
        {
           <span class="lbl">@Html.DisplayFor(x => x.Article.sIVA)</span>  <span class="lbl">%</span>
        }
       
    </p>
    <p>
        <strong>@Html.DisplayNameFor(x => x.Stock):</strong>
        @if (Model != null)
        {
            <span class="lbl" id="lblStock">@Html.DisplayFor(x => x.Stock)</span><span class="lbl"> Ud.</span>
        }

    </p>
</div>
