@model Domain.Models.Proveedor.mProveedorCreate

@{ 
    ViewBag.Title = "Editar proveedor";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-default flat">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.IdProveedor)
                    @Html.HiddenFor(model => model.Fecha_A)

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                       

                            <div class="form-group">
                                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreComercial, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NombreComercial, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                @Html.ValidationMessageFor(model => model.NombreComercial, "", new { @class = "text-danger" })
                            </div>
                        </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NIF, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.NIF, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Poblacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Poblacion, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Poblacion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CP, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Estado, Model.Estados, "-- Selecciona --", new { @class = "form-control CformControl" })
                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Movil, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Movil, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Movil, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Nota, 6, 8, new { @class = "form-control CformControl" })
                                    @*@Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary flat" />
                                </div>
                            </div>
                        </div>

                  

                }

                <div class="col-xs-12">
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default flat" })
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

