@model IEnumerable<Domain.Models.Proveedor.mProveedor>

@{ 
    ViewBag.Title = "Proveedores";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
                @Html.ActionLink("Nuevo", "Create", "Proveedor", null, new { @class = "btn btn-primary pull-right" })
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NIF)</th>
                            <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
                            <th>@Html.DisplayNameFor(model => model.Domicilio)</th>
                            <th>@Html.DisplayNameFor(model => model.Poblacion)</th>
                            <th>@Html.DisplayNameFor(model => model.Provincia)</th>
                            <th>@Html.DisplayNameFor(model => model.Pais)</th>
                            <th>@Html.DisplayNameFor(model => model.CP)</th>
                            <th>@Html.DisplayNameFor(model => model.Mail)</th>
                            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                            <th>@Html.DisplayNameFor(model => model.Movil)</th>
                            <th>@Html.DisplayNameFor(model => model.sEstado)</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.NIF)</td>
                                <td>@Html.DisplayFor(model => item.RazonSocial)</td>
                                <td>@Html.DisplayFor(model => item.Domicilio)</td>
                                <td>@Html.DisplayFor(model => item.Poblacion)</td>
                                <td>@Html.DisplayFor(model => item.Provincia)</td>
                                <td>@Html.DisplayFor(model => item.Pais)</td>
                                <td>@Html.DisplayFor(model => item.CP)</td>
                                <td>@Html.DisplayFor(model => item.Mail)</td>
                                <td>@Html.DisplayFor(model => item.Telefono)</td>
                                <td>@Html.DisplayFor(model => item.Movil)</td>
                                <td>@Html.DisplayFor(model => item.sEstado)</td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", "Proveedor", new { id = item.IdProveedor }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-pencil", title = "Editar" })
                                    <span> </span>
                                    @Html.ActionLink(" ", "DeleteConfirmed", "Proveedor", new { id = item.IdProveedor }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-trash", title = "Eliminar" })
                                </td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NIF)</th>
                            <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
                            <th>@Html.DisplayNameFor(model => model.Domicilio)</th>
                            <th>@Html.DisplayNameFor(model => model.Poblacion)</th>
                            <th>@Html.DisplayNameFor(model => model.Provincia)</th>
                            <th>@Html.DisplayNameFor(model => model.Pais)</th>
                            <th>@Html.DisplayNameFor(model => model.CP)</th>
                            <th>@Html.DisplayNameFor(model => model.Mail)</th>
                            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                            <th>@Html.DisplayNameFor(model => model.Movil)</th>
                            <th>@Html.DisplayNameFor(model => model.sEstado)</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>

                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- DATA TABES SCRIPT -->

<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->

<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

