@model Domain.Models.AlmacenProducto.mStoreArticleCreate

@{
    ViewBag.Title = "Editar Articulo";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default flat">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(x => x.Almacen)
                    @Html.HiddenFor(x => x.Articulo)
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.Articles, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Articulo, Model.Articles, "-- Selecciona --", new { @class = "form-control CformControl" })
                                <small>@Html.ValidationMessageFor(model => model.Articles, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Lote, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                <small>@Html.ValidationMessageFor(model => model.Lote, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control CformControl" } })
                                <small>@Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary flat" />
                            </div>
                        </div>
                    </div>


                }

                <div class="col-xs-12">
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default flat" })
                </div>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
